/* .container {
  @media screen and (min-width: 768px) {
    margin: 40px auto;
  }

  @media screen and (min-width: 1200px) {
    margin: 40px auto;
  }
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: $main-font; */
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.guarantee {
  padding-top: 130px;
  padding-bottom: 130px;
}

.guarantee__accent {
  color: #ff6b09;
}

.guarantee__list {
  background: #f1f1f1;
  padding: 50px 112px 45px;
}

.guarantee__title {
  padding-bottom: 50px;
  text-align: center;
}
.guarantee__item:not(:last-child) {
  margin-bottom: 20px;
}

.container {
  @media screen and (min-width: 768px) margin: 40px auto;
}

.container {
  @media screen and (min-width: 1200px) margin: 40px auto;
}
/* 320px 768px 1200px */
